<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Knight info</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

        <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"/>

        <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
    </head>
    <body>
        <div class="container">

<!--            Aktualny czas <span th:text="${timecomponent.time}"/>-->
<!--            Posiadane zloto <span th:text="${playerinformation.gold}"/>-->

            <table class="table">
                <thead>
                    <td></td>
                    <td></td>
                </thead>
                <tbody>
                    <tr>
                        <td><p th:text="${knight.name}"/></td>
                        <td><a th:href="${'/knight/edit?id='+knight.id}">Zmien</a> </td>
                    </tr>

                    <tr>
                        <td><p th:text="${knight.age}"/></td>
                        <td><a th:href="${'/knight/edit?id='+knight.id}">Zmien</a> </td>
                    </tr>
                    <tr>
                        <td><p th:text="${knight.level}"/></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>